@import 'src/styles/design-system';
@import 'src/styles/utils';

.info-card-container {
  @include card-shadow;
  height: min-content;
  width: 20vw;
  padding: 16px 8px;
  .info-divider {
    border-bottom: 1px solid $ds-color-border-bottom;
    display: flex;
    margin: 16px 0;
    width: 100%;
  }
  .cover {
    justify-content: center;
    padding: 16px;
    & img {
      border-radius: 8px;
      max-width: 200px;
      width: 100%;
    }
  }
  .podcast-title {
    font-family: 'RobotoMedium', sans-serif;
    padding: 0 8px;
  }
  .podcast-author {
    font-family: 'RobotoLightItalic', sans-serif;
    padding: 0 8px;
  }
  .podcast-description {
    padding: 0 8px;
    .label { font-family: 'RobotoMedium', sans-serif; }
    .text {
      font-family: 'RobotoLightItalic', sans-serif;
      margin-top: 8px;
      overflow-wrap: anywhere;
    }
  }
  .cover, .podcast-title, .podcast-author { cursor: pointer; }
}
